body {
  margin: 0;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
select,
button {
  /* width: 100%; */
  margin: 0;
  padding: 0.4em 0.4em 0.4em 0.4em;
  background: #e3e4e8;
  border-radius: 4px;
  font: inherit;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-size: 13px;
  padding: 4px 5px 4px 5px;
  outline: 0;
  background: #d5d7de;
  border: 3px solid #d5d7de;
  border-radius: 3px;
}
